{% if paginate.hasPreviousPages or paginate.hasNextPages(pageCount) %}
<div class="row">
    <div class="col align-self-center">
        <ul class="pagination justify-content-center">
            {% if paginate.hasPreviousPages %}
            <li class="page-item">
                <a href="{{ paginate.href(true) }}" class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Précédent</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Précédent</span>
                </a>
            </li>
            {% endif %}
            {% if pages %}
                {% for page in pages %}
                {% if page.number == currentPage %}
                <li class="page-item active">
                    <a class="page-link" href="{{ page.url }}">{{ page.number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ page.url }}">{{ page.number }}</a>
                </li>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% if paginate.hasNextPages(pageCount) %}
            <li class="page-item">
                <a href="{{ paginate.href() }}" class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Suivant</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Suivant</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}