{% extends 'layout.twig' %} 

{% block stylesheet %}
    <style>
    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 500px;
        overflow-y: scroll;
    }

    #messages li {
        padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
        background: #eee;
    }
    </style>
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-8">
        <ul id="messages">
            {% for message in messages %}
            <li>{{ message.message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 align-self-center">
        <form action="">
            <div class="row">
                <div class="col">
                    <input id="m" class="form-control" autocomplete="off" />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="http://10.2.6.12:2000/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>
$(function() {
    var socket = io.connect('http://10.2.6.12:2000');
    $('form').submit(function() {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
    });
    socket.on('chat message', function(msg) {
        $('#messages').append($('<li>').text(msg));
    });
});
</script>
{% endblock %}