{% extends 'layout.twig' %} 

{% block body %}
<div class="row">
	<div class="col-4">
	    <div class="card mx-auto" style="width: 20rem;">
	        <div class="card-body">
	            <h4 class="card-title">Utilisateurs</h4>
	            <p class="card-text">Affiche la liste des utilisateurs du site.</p>
	            <a href="/users" class="card-link">Voir</a>
	        </div>
	    </div>
	</div>
	<div class="col-4">
		<div class="card mx-auto" style="width: 20rem;">
	        <div class="card-body">
	            <h4 class="card-title">Voitures</h4>
	            <p class="card-text">Affiche la liste des voitures.</p>
	            <a href="/cars" class="card-link">Voir</a>
	        </div>
	    </div>
	</div>
	<div class="col-4">
		<div class="card mx-auto" style="width: 20rem;">
	        <div class="card-body">
	            <h4 class="card-title">Marques</h4>
	            <p class="card-text">Affiche la liste des marques du site.</p>
	            <a href="/brands" class="card-link">Voir</a>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}