{% extends 'layout.twig' %}
{% block body %}
<div class="row justify-content-center align-items-center">
	<div class="col-6 align-self-center">
	    <form class="form-signin mx-auto" method="post">
	        <h2 class="form-signin-heading">Veuillez vous connecter</h2>
	        <div class="from-group mt-2">
	        	<label for="inputEmail">Nom d'utilisateur</label>
		        <input id="inputEmail" name="username" class="form-control" placeholder="Nom d'utilisateur" required="" autofocus="" autocomplete="off" type="text">
	    	</div>
	    	<div class="form-group mt-2">
		        <label for="inputPassword">Mot de passe</label>
		        <input id="inputPassword" name="password" class="form-control" placeholder="Mot de passe" required="" autocomplete="off" type="password">
		    </div>
	        <div class="checkbox">
	            <label class="custom-control custom-checkbox">
  					<input type="checkbox" class="custom-control-input">
				  	<span class="custom-control-indicator"></span>
				  	<span class="custom-control-description">Se souvenir de moi</span>
				</label>
	        </div>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	    </form>
	</div>
</div>
{% endblock %}