{% extends 'layout.twig' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Liste des utilisateurs</h1>
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td><a type="button" class="btn btn-danger" href="/users/{{ user.id }}/delete">Supprimer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include '_pagination.twig' %}
    <div class="row">
        <div class="col-12">
            <h1>Ajouter un utilisateur</h1>
        </div>
        <div class="col-12">
            <form method="post" action="/users/">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Username" name="user[username]">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Email" name="user[email]">
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" placeholder="Mot de passe" name="user[password]">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}