{% extends 'layout.twig' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Liste des voitures</h1>
        </div>
        <div class="col-6">
            <a href="/brand/create" type="button" class="btn btn-primary">Ajouter une marque</a>
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Marque</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <td>{{car.id}}</td>
                        <td>{{car.name}}</td>
                        <td>{{car.Brand.name}}</td>
                        <td><a type="button" class="btn btn-danger" href="/cars/{{ car.id }}/delete">Supprimer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include '_pagination.twig' %}
    <div class="row">
        <div class="col-12">
            <h1>Ajouter une voiture</h1>
        </div>
        <div class="col-12">
            <form method="post" action="/cars">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Nom" name="car[name]">
                    </div>
                    <div class="col">
                        <select class="custom-select" name="car[brandId]">
                            <option value="-1" selected>Sélectionnez une valeur</option>
                            {% if brands %}
                            {% for brand in brands %}
                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}