{% extends 'layout.twig' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Liste des voitures de la marque <strong>{{brand.name}}</strong></h1>
        </div>
        <div class="col-2">
            <a href="/brand/create" type="button" class="btn btn-primary">Ajouter une marque</a>
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Marque</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <td>{{car.id}}</td>
                        <td>{{car.name}}</td>
                        <td>{{brand.name}}</td>
                        <td><a type="button" class="btn btn-danger" href="/cars/{{ car.id }}/delete">Supprimer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include '_pagination.twig' %}
</div>
{% endblock %}