{% extends 'layout.twig' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Liste des marques</h1>
        </div>
        <div class="col-6">
            <a href="/brands/create" type="button" class="btn btn-primary">Ajouter une marque</a>
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for brand in brands %}
                    <tr>
                        <td>{{brand.id}}</td>
                        <td>{{brand.name}}</td>
                        <td>
                            <a type="button" class="btn btn-success" href="/brands/{{ brand.id }}/view">Voir</a>
                            <a type="button" class="btn btn-danger" href="/brands/{{ brand.id }}/delete">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include '_pagination.twig' %}
</div>
{% endblock %}