{% extends 'layout.twig' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Ajouter une marque</h1>
        </div>
        <div class="col-12">
            <form method="post" action="/brands/create">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Nom" name="brand[name]">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}